<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csi.testapp">

    <!-- These permissions are required to use bluetooth -->
    <!-- 블루투스 기능을 사용하기 위해 필요한 권한입니다. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:required="true" android:name="android.hardware.bluetooth_le"/>

    <!-- One of these permissions are required for Android API 23 (marshmallow) or higher.
        If you already use one of them, you do not need to add the other permission.
        "ACCESS_COARSE_LOCATION" permission is recommended. -->
    <!-- 안드로이드 API 23 (마시멜로우) 이상의 버전에서 필요한 권한입니다.
        ACCESS_COARSE_LOCATION 혹은 ACCESS_FINE_LOCATION 중 1개의 권한만 필요로 합니다.
        당사에서는 ACCESS_COARSE_LOCATION 권한을 권장합니다. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- These permissions are required to use bluetooth -->
    <!-- 블루투스 기능을 사용하기 위해 필요한 권한입니다. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:required="true" android:name="android.hardware.bluetooth_le"/>

    <!-- One of these permissions are required for Android API 23 (marshmallow) or higher.
        If you already use one of them, you do not need to add the other permission.
        "ACCESS_COARSE_LOCATION" permission is recommended. -->
    <!-- 안드로이드 API 23 (마시멜로우) 이상의 버전에서 필요한 권한입니다.
        ACCESS_COARSE_LOCATION 혹은 ACCESS_FINE_LOCATION 중 1개의 권한만 필요로 합니다.
        당사에서는 ACCESS_COARSE_LOCATION 권한을 권장합니다. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!--타이틀 제거 완료 -->
        <!--다시 푸-->
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--구글맵 사용하는 부분 추가 10/02-->
        <!--구글맵 api key 추가 안하면 화면에 뜨지 않음-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSxubGd-_rlOJeeBfvuSSSFPj8b5aTvcQ" />

        <!--구글맵 사용할 화면 액티비티 추가 -->
        <activity android:name=".NextActivity"
            android:label="Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--비콘 함수 사용하기 위해서 서비스 추가 -->
        <!--<service android:name="com.perples.recosdk.RECOBeaconService" />&lt;!&ndash;구글맵 사용하는 부분 추가 10/02&ndash;&gt;-->

    </application>





</manifest>